<!doctype html>
{% load static %}
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Css Style -->
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
	<!-- CSS only -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="login-page">
	<form>
		<h2>LOGIN</h2>
		<label>
			<p class="label-txt">ENTER YOUR USERNAME</p>
			<input type="text" class="input">
			<div class="line-box">
				<div class="line"></div>
			</div>
		</label><br>
		
		<label>
			<p class="label-txt">ENTER YOUR PASSWORD</p>
			<input type="text" class="input">
			<div class="line-box">
				<div class="line"></div>
			</div>
		</label><br><br>
		<button type="submit">submit</button><br><br>
		<p>Don't have an account ? <a href="{% url 'register' %}">Register</a></p>
	</form>


	<script>

		$(document).ready(function () {

			$('.input').focus(function () {
				$(this).parent().find(".label-txt").addClass('label-active');
			});

			$(".input").focusout(function () {
				if ($(this).val() == '') {
					$(this).parent().find(".label-txt").removeClass('label-active');
				};
			});

		});
	</script>
</body>

</html>