<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Css Style -->
  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  <!-- CSS only -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="register-page">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h2>REGISTER</h2>
    <label>
      <p class="label-txt">ENTER YOUR USER NAME</p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label><br>
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label><br>
    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label><br><br>
    <button type="submit">submit</button><br><br>
  </form>


  <script>

    $(document).ready(function () {

      $('.input').focus(function () {
        $(this).parent().find(".label-txt").addClass('label-active');
      });

      $(".input").focusout(function () {
        if ($(this).val() == '') {
          $(this).parent().find(".label-txt").removeClass('label-active');
        };
      });

    });
  </script>
</body>

</html>